<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
	<title>{% block title %}Login | To-Do lists{% endblock %}</title>
</head>
<body>
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="sidebar" align="right">
    {% block sidebar %}
	<a href="/">Home</a>
	&middot;
	{% if user.is_authenticated %}
            <a href="/accounts/logout">Logout</a>
        {% else %}
            <a href="/accounts/login">Login</a>
        {% endif %}
    {% endblock %}
</div>
</body>
</html>